<!--<div *ngIf="givenName">
    <h2>Welcome, {{givenName}}!</h2>
    <app-beer-list></app-beer-list>
    <button (click)="logout()" class="btn btn-default">Logout</button>
    <p><a routerLink="/search" routerLinkActive="active">Search</a></p>
</div>-->
<div class="panel panel-default col-md-4 col-md-offset-4" *ngIf="!givenName">
    <div class="panel-body">
        <p>Login with Username/Password</p>

        <p style="color:red; font-weight:bold" *ngIf="loginFailed">
            Login wasn't successful.
        </p>

        <div class="form-group">
            <label>Username</label>
            <input class="form-control" [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" [(ngModel)]="password">
        </div>
        <div class="form-group">
            <button class="btn btn-default" (click)="loginWithPassword()">Login</button>
        </div>
    </div>
</div>